:root {
  --black1: rgb(8, 43, 56);
  --white: rgba(255, 255, 255);
  --black2: #353030;
}
body.light {
  --background-color: var(--white);
  --text-color: var(--black1);
  --font-white: 400;
}
body.dark {
  --background-color: var(--black2);
  --text-color: var(--white);
  --font-white: 400;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: var(--background-color);
  color: var(--text-color);
  font-weight: var(--font-weight);
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  text-shadow: 0 0 0.1px rgb(0 0 0 / 30%);
  max-width: 70%;
  margin: 20px auto;
  box-sizing: border-box;
  font-size: 20px;
}
.App {
  margin: 10px auto;
  line-height: 1.5em;
  max-width: 60%;
}
nav {
  max-width: 60%;
  font-size: 22px;
  padding-bottom: 1%;
}

nav ul {
  white-space: nowrap;
  margin: 0;
}
nav li {
  display: inline;
  margin: 8%;
  /* text-align: left; */
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #60b4a6;
}
header {
  margin-top: 25px;
  font-size: 37px;
  font-weight: 900;
}
.recent-work header {
  font-size: 32px;
  font-weight: 600;
}
.year header {
  font-size: 25px;
  font-weight: 900;
}
.skill header {
  font-size: 25px;
  font-weight: 900;
}
span {
  font-size: 25px;
  font-weight: 600;
  display: inline-block;
}

body.light hr {
  border: none;
  height: 1px;
  background-color: rgb(233, 226, 226);
}
body.dark hr {
  border: none;
  height: 1px;
  background-color: #473d3d;
}

.year p {
  margin-left: 5%;
}
.skill p {
  margin-left: 5%;
}
p {
  font-size: 19px;
  font-weight: 100;
  font-style: italic;
}
body.dark p {
  color: #dacdcd;
}
body.light p {
  color: #6b5a5a;
}
body.dark ul li {
  color: #dacdcd;
}
body.light ul li {
  color: #6b5a5a;
}
.footer ul li {
  list-style-type: none;
  float: left;
  width: 10rem;
  padding: 5px 0;
  margin: 6px;
  font-size: 17px;
}
.skill p header {
  font-style: normal;
}
.skill p strong {
  font-style: normal;
}
body.dark .skill header {
  color: #dacdcd;
}
body.light .skill header {
  color: var(--black2);
}
@media screen and (max-width: 1400px) {
  body {
    max-width: 80%;
    margin: 20px auto;
    font-size: 18px;
  }
  .footer ul li {
    width: 8rem;
  }
  #image {
    width: 200px;
    padding: 40px;
  }
}
@media screen and (max-width: 900px) {
  body {
    max-width: 100%;
    margin: 20px auto;
    font-size: 18px;
  }
  .App {
    line-height: 1.5em;
    max-width: 80%;
  }
  .project-header {
    font-size: 24px;
  }
  .footer ul li {
    width: 8rem;
    padding: 8px 0;
    margin: 8px;
  }
}
@media screen and (max-width: 700px) {
  body {
    max-width: 100%;
    margin: 20px auto;
    font-size: 15px;
  }
  .App {
    line-height: 1.5em;
    max-width: 95%;
    margin: 10px 20px;
  }
  nav {
    max-width: 19%;
    font-size: 20px;
    padding-bottom: 0;
  }
  nav li {
    display: inline;
    margin: 20%;
  }
  p {
    font-size: 16px;
  }
  #image {
    padding-top: 80px;
  }
  header {
    font-size: 30px;
  }
  .recent-work header {
    font-size: 25px;
  }
  .skill header {
    font-size: 20px;
    font-weight: 900;
  }
  .project-header {
    font-size: 20px;
  }
}
@media screen and (max-width: 600px) {
  .navbar li {
    font-size: 17px;
  }
  nav {
    max-width: 28%;
    font-size: 20px;
    padding-bottom: 0;
  }
  nav li {
    display: inline;
    margin: 13%;
  }
  .footer ul li {
    width: 5rem;
    padding: 8px 0;
    margin: 8px;
    font-size: 16px;
  }
}
@media screen and (max-width: 500px) {
  body {
    max-width: 100%;
    margin: auto;
    font-size: 15px;
  }
  .App {
    line-height: 1.35em;
    max-width: 95%;
    margin: 10px 20px;
  }
  .navbar li {
    font-size: 14px;
  }
  nav {
    max-width: 18%;
    padding-bottom: 0;
  }
  nav li {
    display: inline;
    margin: 45%;
  }
  #image {
    width: 110px;
  }
  header {
    font-size: 25px;
  }
  .recent-work header {
    font-size: 23px;
  }
  .skill header {
    font-size: 18px;
  }
  .project-header {
    font-size: 18px;
  }

  .footer ul li {
    width: 4rem;
    padding: 7px 0;
    margin: 6px;
    font-size: 14px;
  }
}
@media screen and (max-width: 400px) {
  #image {
    width: 122px;
  }
  p {
    font-size: 15px;
  }
}
@media screen and (max-width: 350px) {
  #image {
    width: 95px;
    padding: 0;
    padding-top: 60px;
  }
  p {
    font-size: 15px;
  }
}
